/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(http://fonts.gstatic.com/s/raleway/v9/CcKI4k9un7TZVWzRVT-T8wzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaIwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: Raleway;
  font-size: 16px;
  color: #333;
}

a {
  color: red;
  color: #2678c1;
  color: #0c77f7;
  transition: .2s ease-out;
}

a:hover {
  color: #eb605f;
}

.btn {
  border-radius: 3px;
  background: #2678c1;
  background: #0c77f7;
  display: inline-block;
  color: white;
  padding: 10px 15px;
  transition: .2s ease-out;
  margin: 20px 0;
}

.btn:hover {
  background: #eb605f;
}

h1 {
  font-size: 35px;
}

h1.home-lead {
  font-size: 26px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

.r-module {
  background-size: cover;
  width: 100%;
  height: 204px;
  margin: 20px 0;
  position: relative;
  background-repeat: no-repeat;
  transition: .2s ease-out;
  margin: 15px 0;
}

a:hover.r-module {
  text-decoration: none;
}

.r-module h2 {
  margin: 0;
  padding: 20px 0 0 10px;
  font-size: 36px;
  transition: .2s ease-out;
  color: white;
}

.r-module h3 {
  padding-left: 10px;
  margin: 0;
  color: white;
  transition: .2s ease-out;
}

.r-module:hover h2,
.r-module:hover h3 {
  opacity: 0;
}

.mod-characters {
  background-image: url("../images/characters.jpg");
}

.mod-characters:hover {
  opacity: .8;
  background-image: url("../images/characters-hover.jpg");
}

.mod-cartoons {
  background-image:  url("../images/cartoons.jpg");
}

.mod-cartoons:hover {
  background-image:  url("../images/cartoons-hover.jpg");
}

.mod-journey {
  background-image:  url("../images/journey.jpg");
}

.mod-journey:hover {
  background-image:  url("../images/journey-hover.jpg");
}

.mod-sixpath {
  background-image:  url("../images/sixpaths.jpg");
}

.mod-sixpath:hover {
  background-image:  url("../images/sixpaths-hover.jpg");
}

.mod-teabag {
  background-image:  url("../images/teabag.jpg");
}

.mod-teabag:hover {
  background-image:  url("../images/teabag-hover.jpg");
}


h3 {
  font-size: 22px;
  padding-top: 10px;
}


button {
	font-family: Raleway;
	background-color:#ec5849;
	border:0px;
}

.grid {
    margin: 0 auto;
    max-width: 740px;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    margin: 0 auto 4px auto;
}

.prefooter {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 20px auto 20px auto;

}

.footer {
  font-size: 13px;
  padding: 45px 0;
	width: 100%;
  margin-top: 40px;
    margin-bottom: 0px;
    display: flex;
	background-color:#FB3838;
	color:#ffffff;
  line-height: 20px;
}

.footer a{
  color:rgb(252, 243, 85);
}

#buttons {
  position:relative;
  text-align:left;
  margin: 0 auto;
}
#buttons ul {
  list-style: none;
  position: relative;
  padding: 0px;
  height: 50px;
  /*display: table-row;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons li {
  /*float:left;*/
  position:relative;
  text-align: center;
  align-items: center;
  }/* ie needs position:relative here*/

#buttons a {
  text-decoration: none;
  color: #222;
  margin: auto;
  border-radius: 3px;
  padding: 5px 10px;
  transition: .2s all ease-out;
  font-weight: 500;
}

#buttons a:hover{
  color: white;
  background: #FB3838;
}

#content{
  overflow:hidden
}/* hide horizontal scrollbar*/




/*******************************
 *
 *      CSS Media Queries
 *
 *******************************/


@media only screen and (max-width: 640px) {

  a.disappear {
    display:none;
  }

  .flexwrap{
    flex-wrap: wrap;
  }

  div.footer{
    font-size: 9px;
  }

  #buttons a:hover{
    background: transparent;
    color: #333;
  }

}

@media only screen and (max-width: 690px) {
    p.disappearsmall{display:none;}
}

@media only screen and (min-width: 690px) {
    p.disappearbig{display:none;}
}
