/*******************************
 *
 *      Custom Fonts
 *
 *******************************/

 /* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(http://fonts.gstatic.com/s/raleway/v9/CcKI4k9un7TZVWzRVT-T8wzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaIwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  src: local('Varela'), url(http://fonts.gstatic.com/s/varela/v7/nHkoHFu6nEdS6p03xSWTUn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  src: local('Varela'), url(http://fonts.gstatic.com/s/varela/v7/kKS1_dskIMPqTNSaCaajmOvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



/*******************************
 *
 *      Main Styles
 *
 *******************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 26px;
}

a {
  color: red;
  color: #2678c1;
  color: #0c77f7;
  transition: .2s ease-out;
}

a:hover {
  color: #eb605f;
  text-decoration: none;
}

.btn {
  border-radius: 3px;
  background: #2678c1;
  background: #0c77f7;
  display: inline-block;
  color: white;
  padding: 10px 15px;
  transition: .2s ease-out;
  margin: 20px 0;
}

.btn:hover {
  background: #eb605f;
}

p {
  margin: 10px 0 20px;
}

h1 {
  font-size: 35px;
  font-family: 'Varela', sans-serif;
}

h1.home-lead {
  font-size: 26px;
  font-weight: 700;
}

p.centertext {
   text-align: center;
}

h2 {
  font-size: 24px;
  font-family: 'Varela', sans-serif;
  line-height: 32px;
}

h3 {
  font-family: 'Varela', sans-serif;
  font-size: 22px;
  padding-top: 10px;
  margin-bottom: 20px;
}

button {
  font-family: 'Raleway', sans-serif;
  background-color: #ec5849;
  border:0px;
}

.grid {
    margin: 0 auto;
    max-width: 740px;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    margin: 0 auto 4px auto;
}

ul.navigation {
  padding: 0;
  text-align: center;
  margin: 10px 0 0;
}

ul.navigation a li {
  text-align: center;
  display: inline;
  text-decoration: none;
  font-family: 'Varela', sans-serif;
  color: #222;
  border-radius: 3px;
  padding: 5px 10px;
  transition: .2s all ease-out;
  font-weight: 500;
}

ul.navigation a:hover li{
  color: white;
  background: #FB3838;
  background: #eb605f;
}

.r-module {
  background-size: cover;
  width: 100%;
  height: 204px;
  margin: 20px 0;
  position: relative;
  background-repeat: no-repeat;
  transition: .2s ease-out;
  margin: 15px 0;
}

a:hover.r-module {
  text-decoration: none;
}

.r-module h2 {
  margin: 0;
  padding: 20px 0 0 10px;
  font-size: 36px;
  transition: .2s ease-out;
  color: white;
}

.r-module h3 {
  padding-left: 10px;
  margin: 0;
  color: white;
  transition: .2s ease-out;
}

.r-module h5 {
  padding-left: 10px;
  margin: 0;
  color: white;
  transition: .2s ease-out;
}

.r-module:hover h2,
.r-module:hover h3,
.r-module:hover h5 {
  opacity: 0;
}

.r-module h4 {
  color:black;
  font-size: 24px;
  margin-top: 160px;
}

.mod-characters {
  background-image: url("../images/characters.jpg");
}

.mod-characters:hover {
  opacity: .8;
  background-image: url("../images/characters-hover.jpg");
}

.mod-cartoons {
  background-image:  url("../images/cartoons.jpg");
}

.mod-cartoons:hover {
  background-image:  url("../images/cartoons-hover.jpg");
}

.mod-rocket {
  background-image:  url("../images/rocket.jpg");
}

.mod-rocket:hover {
  background-image:  url("../images/rocket-hover.jpg");
}

.mod-arrows {
  background-image: url("../images/arrows.jpg");
}

.mod-arrows:hover {
  background-image: url("../images/arrows-hover.jpg");
}


.mod-journey {
  background-image:  url("../images/journey.jpg");
}

.mod-journey:hover {
  background-image:  url("../images/journey-hover.jpg");
}

.mod-sixpath {
  background-image:  url("../images/sixpaths.jpg");
}

.mod-sixpath:hover {
  background-image:  url("../images/sixpaths-hover.jpg");
}

.mod-teabag {
  background-image:  url("../images/teabag.jpg");
}

.mod-brooklyn {
  background-image:  url("../images/brooklyn.jpg");
}

.mod-teabag:hover {
  background-image:  url("../images/teabag-hover.jpg");
}

.quote {
  font-size: 24px;
  margin: 20px 0 7px 0;
  line-height: 34px;
}

.quote-author {
  margin-bottom: 40px;
  color: #888;
}

.me-with-kids {
  margin: 0 auto;
}

.prefooter {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

.footer {
  padding: 75px 0;
  margin-top: 40px;
	background: #FB3838;
  background: #eb605f;
	color:#fff;
  line-height: 32px;
}

.footer .fa {
  margin: 0 10px 7px 0;
  border: 1px solid;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 4px;
}

.footer a{
  color:rgb(252, 243, 85);
}

.footer a:hover {
  text-decoration: underline;
}



/*******************************
 *
 *      CSS Media Queries
 *
 *******************************/


@media only screen and (max-width: 768px) {

  .flexwrap {
    flex-wrap: wrap;
  }

  ul.navigation a li{
    color: white;
    background: #eb605f;
    font-size: 10px;
    display: inline-block;
    margin: 5px 0 0;
  }

  .footer-section {
    margin: 10px 0;
    text-align: center;
  }

  ul.navigation .hide-me {
    display: none;
  }

}
